@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Road+Rage&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alatsi&display=swap');
@import 'tailwindcss';

@font-face {
  font-family: 'Jeju Myeongjo';
  src: url('./assets/fonts/JejuMyeongjo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.font-jeju {
  font-family: 'Jeju Myeongjo', serif;
}

@theme {
  --font-roboto: 'Roboto', sans-serif;
  --font-road: 'Road Rage', serif;
  --font-alatsi: 'Alatsi', sans-serif;
  --breakpoint-xs: 340px;
}
